body{
    font-size: 20px;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    
  
   
    
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-size: 1.5rem;
    color: white;
    border-bottom: #fff dotted 2px;
    width: 440px;
    
}

h1{
    text-align: center;

}

h2{
    padding: 0px;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5rem;

}

#rps{
    display: flex;
    justify-content: center;
   
}

.emoji{
    font-size: 4rem;
    text-align: center;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px 25px;
}

#choices{
    margin: 50px;
    
}

.score{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
}


#finalResult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}